*{
    margin: 0;
    font-family: 'Montserrat';
    font-size: 15px;
}

ul {
    list-style: none;
}

h1 {
    font-weight: 900;
}

main {
    background-color: #e6e6e6;
}

a {
    text-decoration: none;
    color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: ce;
}

header {
    position: fixed;
    width: 100%;
    height: auto;
    background-color: white;
}

footer {
    height: 253.2px;
    width: 100%;
    background-color: #b91d32;
    color: white;
}

div#linha_vermelha {
    background-color: #e30613;
    
}

ul#lista_vermelha {
    display: flex;
    justify-content: right;
    color: white;
    height: 20px;
    width: 95%;
}

a#link_vermelha {
    color: white;
}

a#link_vermelha:hover {
    color: #b91d32;
}

li#lista_escolas {
    padding: 0px 10px;
    font-size: 14.4px;
}

img#icone_redes {
    width: 15px;
    height: 15px;
    padding: 0px 10px;
    font-size: 14.4px;
}

div#menu_principal {
    width: auto;
    height: 49.2;
    display: flex;
    justify-content: center;
    
}

ul#lista_principal {
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    padding: 0;
}

div#logo_principal, #logo_principal a {
    display: flex;
    align-items: center;
}

img#logo {
    
    height: 50px;
    display: flex;
    justify-content: center;
    margin: 15px;
    margin-bottom: 0;
    padding: 0;

}

div#linha_principal {
    border-bottom: solid 2px #e30613;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    align-items: center;
}

li#lista_menu {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 15px 12px 0px;
}

div#imagem_princpal {
    display: flex;
    justify-content: center;
}

h2#titulo_cursos {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

div#icone_direcao {
    display: flex;
    justify-content: center;
} 

img#imagem_direcao {
    width: 40px;
    height: 21.61px;
}

div#tabela_cursos {
    background-color: #cac4c4;
    margin: auto;
    width: 925px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table#tabela_principal {
    border-spacing: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

td#item_pesquisa {
    background-color: #e30613;
}

div#borda_pesquisa {
border-left: solid 5px white;
display: flex;
justify-content: center;
justify-content: left;
align-items: center;
}

img#icone_tabela {
    width: 60px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

td#item_tabela {
    background-color: white;

    width: 278.33px;
    height: 132px;
}

div#borda_itens {
border-left: solid 5px #e30613;
display: flex;
justify-content: center;
justify-content: left;
align-items: center;
padding: 0px 15px;
}

p#lupa_pesquisa {
    color: white;
    font-size: 14.4px;
    margin-left: 15px;
    margin-top: 20px;
}
p#lupa_pesquisa:hover {
    text-decoration: underline white;
}

p#ident_cursos {
    font-size: 14.4px;
    margin-left: 15px;
    margin-top: 20px;
}

p#ident_cursos:hover {
    text-decoration: underline;
}

div#imagem_dupla {
    display: flex;
    justify-content: center;
}

img#img_1_2 {
    width: 445px;
    height: 250.94;
    padding: 0px 15px;
    margin: 0px 0px 24px;
}

div#area_noticias {
    background-color: #1a1a1a;
    margin: 0px 15px;
}

h2#titulo_noticias {
    font-weight: 900;
    color: #e30613;
    font-size: 32px;
    display: flex;
    justify-content: center;
}

h2#titulo_noticias:hover {
    text-decoration: underline;
}

div#area_img_noticias {
    
    display: flex;
    justify-content: center;
}

div#img_noticias {
    width: 918.4px;
    height: 518.06px;

}

div#linha_secundaria {
    justify-content: top;
    
}

ul#lista_secundaria {
    display: flex;
    justify-content: center;;
    width: 95%;
    color: #333333;
    font-weight: 900;
}

li#link_lista_secundaria {
    padding: 5px 10px ;
    margin: 5px 0px;
}

li#link_lista_secundaria:hover {
    text-decoration: underline;
}

div#redes_social {
    background-color: #e30613;
    height: 46px;
    display: flex;
    justify-content: center;
    padding: 15px;
    align-items: center;
}

img#icone_redes_inferior {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center; 
    padding: 10px; 
}

div#local_icones_redes {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

div#contatos {
    height: 185.2px;
    width: auto;
    padding: 0px 15px;
    margin: 0px 126.6px 0px;
}

div#local_contato {
    display: flex;
    justify-content: center; 
    height: 185.2px;
    width: 1140px;
}

div#espaco_contato {
    width: 570px;
    height: 88px;
    font-size: 16px;
    padding: 0px 15px;
    margin: 48px 0px;
}

#paragrafo_contato {
    margin-top: 5px;
    font-size: 16px;
}

div#linha_contato {
    width: auto;
    height: 49.2;
    display: flex;
    justify-content: center;
}

ul#lista_contato {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    padding: 0;
}

li#link_contato:hover{
    text-decoration: underline;
    color: #e30613;
}

li#link_contato {
    width: auto;
    height: 34.2px;
    font-size: 12.8px;
    display: flex;
    align-items: center;
}

div#linha_direitos {
    background-color: #e30613;
    height: 44px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}

@media screen and (max-width: 768px) {
    #tabela_principal {
        width: 100%;
        flex-direction: column;
    }
}